* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.logo {
  float: left;
}

.header-title,
.content-title,
.footer-title {
  text-align: center;
}

.menu {
  vertical-align: top;
  width: 10%;
}

.menu-title {
  background-color: #8ac02f;
  color: #083c5c;
  display: block;
  text-decoration: none;
}

.login-form {
  margin: 15vh 5vw;
}

.login-submit {
  margin: 1%;
}
