* {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  float: left;
}

.header-title,
.main-title,
.footer-title {
  text-align: center;
}

.menu {
  vertical-align: top;
}

.menu-active {
  background-color: rgb(41, 187, 12);
  color: rgb(0, 39, 75);
  text-decoration: none;
  width: 100%;
}
